<div class="border flex flex-col items-center justify-center p-4 m-2 shadow-lg rounded-md">
  <div
          class="flex gap-4 items-center justify-center pb-2"
  >
      <div class="font-mono sm:text-xl">{{ stepMirror.getNumber(step) }}.</div>
      <div class="font-mono sm:text-xl">{{ stepMirror.getTitle(step) }}</div>
  </div>

  <div class="flex flex-col">
      <app-step-message *ngIf="step === 'Message'"
        [placeholder]="stepMirror.getPlaceholder(step)"
        (newCommitMessage)="updateMessage($event)">
      </app-step-message>
      <app-step-commit-type *ngIf="step === 'CommitType'"
        (selectedCommitType)="updateCommitType($event)">
      </app-step-commit-type>
      <app-step-emoji *ngIf="step === 'Emoji'"
        (showEmoji)="updateShowEmoji($event)">
      </app-step-emoji>
      <app-step-task *ngIf="step === 'Task'"
        [placeholder]="stepMirror.getPlaceholder(step)"
        (newTaskId)="updateTaskId($event)">
      </app-step-task>
  </div>
</div>
